{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="accordion ms-10 me-10 " id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Owner
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="/static/Writing.png" alt="" width="200px">
            <strong>Ms Surinder Pal Kaur.</strong> About Sony
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Powered By
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="/static/Reading.png" alt="" width="200">
            <strong>Team Capture Crew.</strong> About capture crew
        </div>
        </div>
    </div>
</div>

{% endblock body %}