{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/red-t-shirt-black.jpg" class="d-block w-100" alt="..."  height="500">
    </div>
    <div class="carousel-item">
      <img src="/static/travel-concept.jpg" class="d-block w-100" alt="..." height="500">
    </div>
    <div class="carousel-item">
      <img src="/static/passport-tickets.jpg" class="d-block w-100" alt="..." height="500">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>


<div class="ms-5 me-5">



    <h1>Overview</h1>

    <blockquote class="blockquote">
    <p>Touchstone is the No.1 IELTS Institute of India and is synonymous with quality IELTS training. Touchstone offers the most comprehensive IELTS training; and our programmes are crafted to give sufficient practice to students in the techniques needed for taking the IELTS test with full confidence. Our focused training gives the candidates a strong base in English, with which they are able to score the highest bands in IELTS.</p>
    </blockquote>

    <h1>Why IELTS?</h1>

    <blockquote class="blockquote">
    <p>Students aspiring to study in the topmost universities and colleges of the English-speaking world need to clear an English language proficiency test. Non-native speakers of English have to show that they can read, write, speak, and understand English, so as to be able to follow lectures, study, take exams, and interact comfortably with fellow students, teachers and the local population. For this purpose as well as for the purpose of immigration, a standardised English language proficiency test for non-native English speakers has been established as a pre-requisite for the selection process. IELTS is the world’s most popular English language proficiency test and a world of opportunity awaits those who clear the required scores.</p>
    </blockquote>
    
    <h1>What is the purpose of IELTS?</h1>

    <blockquote class="blockquote">
    <ul>
    <li>IELTS is the most impartial and trustworthy English proficiency test available for the purposes of study, work, and immigration.</li>
    <li>Most academic institutions in English-speaking countries, like, Australia, Canada, New Zealand, the United Kingdom, and an increasing number of educational institutions in the United States, accept IELTS for study.</li>
    <li>For work purposes, many professional organisations recognise IELTS as the standard test.</li>
    <li>For migration, IELTS is required or accepted for permanent residency by the governments of the United Kingdom, Australia, New Zealand and Canada.</li>
    </blockquote>


</div>

<br> 
<div class="card-group ms-5 me-5 ">
  <div class="card" style="width: 18rem;">
    <img src="/static/reading.png" class="card-img-top" alt="..." height="250">
    <div class="card-body">
      <h5 class="card-title">Reading</h5>
      <p class="card-text">The IELTS Reading test consists of 40 questions, designed to test a wide range of reading skills.xxxxxxxx xxxxxxx xxxxxxx</p>
      <a href="/reading" class="btn btn-primary">Practice here!</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/static/listening.jpeg" class="card-img-top" alt="..." height="250">
    <div class="card-body">
      <h5 class="card-title">Listening</h5>
      <p class="card-text">IELTS listening multiple choice pictures is when you need to choose the correct answer from a selection of pictures.</p>
      <a href="/listening" class="btn btn-primary">Practice here!</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/static/writing.png" class="card-img-top" alt="..." height="250">
    <div class="card-body">
      <h5 class="card-title">Writing</h5>
      <p class="card-text">Start your IELTS Writing test preparation with us today. Access material for and get the score you need.</p>
      <a href="/writing" class="btn btn-primary">Practice here!</a>
    </div>
  </div>
</div>


  

{% endblock body %}